<% provide :title, t(".provide_title") %>
<h1><%= t".title" %></h1>
<p>
  <%= t ".service_html_first" %>
  <%= link_to t(".rails_help") , "http://www.railstutorial.org/help" %>
  <%= t ".service_html_last" %>
  <%= link_to t(".rails_book") , "http://www.railstutorial.org/book" %>
</p>
